@charset "utf-8";

/*헤더시작*/
#header{
    padding:0 0 0 50px;
    position: fixed;
    background: #fff;
    z-index: 10;
    width: calc(100% - 49px);
    
}
#header h1{
    width: 183px;
    height: 105px;
    background: url(../images/common/logo.png) no-repeat center center;
    text-indent: -9999px;
    float: left;
}
#header h1 a{
    display: block;
    font-weight: bold;
}
.gnb{
    height: 105px;
    line-height: 105px;
    float: left;
    margin-left: 30px;
}
.gnb li{
    height: 105px;
    line-height: 105px;
    float: left;
    padding: 0 30px;
    position: relative;
}
.gnb li a{
    color: #292929;
    font-size: 17px;
}
.gnb li:hover .lnb{
    border-top: 5px solid #f47a20;
    max-height: 1000px
}
.gnb .fa-question{
    color: red;
    font-size: 20px;
}
/*2차메뉴*/
.lnb{
    width: 100%;
    position: absolute;
    left: 0;
    top: 100px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.09);
    
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s;
}
.lnb li{
    width: 100%;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    box-sizing: border-box;
}
.lnb li a{
    font-size: 13px;
    display: block;
    color: #848484;
    border-bottom: 1px solid #e8e8e8;
    padding: 0 5px;
}
.lnb li:last-child a{
    border-bottom: 0;
}
.lnb li a:hover{
    color: #f47a20;
}

/*<topMenu>css로 조지기*/
/*
.topMenu{
    width: 360px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    position: absolute;
    bottom: -51px;
    right: 0;
    border-top: 1px solid #f3f3f3;
}
.topMenu li{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 15px;
    box-sizing: border-box;
}
.topMenu li:hover a{
    color: #f47a20;
    background: url(../images/sub/btn_link1_on.png) no-repeat;
    background-position: 15px center;
}
.topMenu li:hover:last-child a{
    background: url(../images/sub/btn_link2_on.png) no-repeat;
    background-position: 5px center;
}
.topMenu li a{
    background: url(../images/sub/btn_link1_off.png) no-repeat;
    background-position: 15px center;
    font-size: 13px;
    color: #a5a5a5;
    display: block;
}
.topMenu li a:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #a5a5a5;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0;
}
.topMenu li:last-child a{
    background: url(../images/sub/btn_link2_off.png) no-repeat;
    background-position: 5px center;
}
.topMenu li:last-child a:after{
    display: none;
}
*/

/*<topMenu> html에img넣었을때*/
.topMenu{
    width: 360px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    position: absolute;
    z-index: 1;
    bottom: -51px;
    right: 0;
    border-top: 1px solid #f3f3f3;
}
.topMenu li{
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
    padding-left: 15px;
    box-sizing: border-box;
}
.topMenu li .on{
    display: none;
}
.topMenu li:hover .on{
    display: inline-block;
}
.topMenu li:hover .off{
    display: none;
}
.topMenu li:hover a{
    color: #f47a20;
}
.topMenu li a{
    font-size: 13px;
    color: #a5a5a5;
    display: block;
}
.topMenu li a:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #a5a5a5;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 0;
}
.topMenu li:last-child a:after{
    display: none;
}

/*푸터시작*/
#footer{}
.footerTop{
    border-top: 1px solid #222;
}
.footerTop div{
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding-left: 30px;
}
.footerTop .icon{
    width: 70px;
    height: 82px;
    display: inline-block;
    text-indent: -9999px;
}
.footerTop span{
    vertical-align: middle;
}
.footerTop .title{
    font-size: 16px;
    color: #2c2c2c;
}
.footerTop .title:after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 8px;
    background: #888;
    vertical-align: middle;
    margin: 0 15px;
}
.footerTop .con{
    font-size: 14px;
    color: #888;
}
.topLeft .icon{
    background: url(../images/sub/ico_board_1.jpg) no-repeat;
}
.topRight .icon{
    background: url(../images/sub/ico_board_2.jpg) no-repeat;
}
.topLeft{
    border-right: 1px solid #888;
    box-sizing: border-box;
}

/*푸터탑*/
.footerBottom{
    padding-top: 50px;
    background: #f3f1f4;
    position: relative;
}
.footerCs{
    width: 200px;
    float: left;
    padding-left: 40px;
    margin-right: 60px;
    border-right: 1px solid #e3e1e4;
}
.footerCs h3{
    font-size: 20px;
    color: #2c2c2c;
}
.footerCs h3 span{
    font-size: 16px;
    color: #6c6c6c;
    display: block;
    font-weight: 400;
}
.csNumber{
    font-size: 30px;
    line-height: 28px;
    margin: 15px 0;
}
.csNumber span{
    font-size: 20px;
    display: block;
}
.csEmail{
    font-size: 14px;
    color: #6c6c6c;
}
.csIcon{
    margin-top: 15px;
}
.csIcon li{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background: #343235;
    border-radius: 50%;
    float: left;
}
.csIcon li a{
    display: block;
}
.csIcon li:hover{
    background: #222;
}
.csIcon li a img{
    width: 100%;
}

.footerInfo{
    float: left;
}
.infoTitle h3{
    font-size: 20px;
    font-weight: normal;
    display: inline-block;
}
.infoTitle p{
    display: inline-block;
    color: #6c6c6c;
    margin-left: 10px;
}
.infoTitle p span{
    color: #2c2c2c;
}
.footerInfo dl{
    overflow: hidden;/*cf 주기 어려울때(dl이 많음)*/
    margin-top: 20px;
    font-size: 14px;
}
.footerInfo dl dt{
    width: 80px;
    color: #2c2c2c;
    float: left;
    background: url(../images/sub/infoline.jpg) no-repeat right center;
}
.footerInfo dl dd{
    color: #6c6c6c;
    float: left;
    margin-left: 8px;
}

.footerRight{
    width: 220px;
    height: 220px;
    background: url(../images/sub/bg_pf.jpg) no-repeat;
    padding: 30px 0;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    right: 40px;
    top: 40px;
}
.footerRight a{}
.footerRight a h3{
    color: #626262;
    font-size: 12px;
    font-weight: 200;
    border: 1px solid #3d3d3d;
    
    width: 100px;
    margin: 0 auto;
    padding: 5px 0;
    /*display: inline-block;
    padding: 0 10px;
    margin: 30px 0 20px 0;
    line-height: 25px;*/
    
}
.footerRight a p{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
}

.footerBar{
    border-top: 1px solid #ddd;
    margin-top: 60px;
    text-align: right;
}
.familySite{
    width: 180px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    color: #7e7e7e;
    background: url(../images/sub/ico_add.png) no-repeat right center;
    
    display: inline-block;
    text-align: left;
    margin-right: 42px;
    cursor: pointer;
}
.familySite:hover .siteMenu{
    display: block;
}
.siteMenu{
    background: #fff;
    border: 1px solid #343235;
    padding: 0 15px;
    position: absolute;
    bottom: 42px;
    display: none;
}
.siteMenu li{}
.siteMenu li a{
    color: #888;
}

.topBtn{
    width: 42px;
    height: 42px;
    background: #343235;
    position: fixed;
    right: 0;
    bottom: 0;
}
.topBtn a{}
.topBtn a img{}